/* Error: expected ")".
 *    ,
 * 25 |     family: 'Instrument', sans-serif
 *    |           ^
 *    '
 *   src\scss\abstract\variable.scss 25:11  @import
 *   src\scss\style.scss 5:5                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \")\".\a    \2577 \a 25 \2502      family: 'Instrument', sans-serif\d\a    \2502            ^\a    \2575 \a   src\\scss\\abstract\\variable.scss 25:11  @import\a   src\\scss\\style.scss 5:5                root stylesheet";
}
