@use "sass:map";
@use "../abstract/" as *;

#footer {
    a {
        text-decoration: none;
        color: $text-color-footer;
        &:hover{
            text-decoration: underline;
        }
        
    }
    @include font-config($text-footer);
    display: flex;
    justify-content: space-between;
    background-color: $green;
    height: 114px;
    align-items: center;
}

.pages {
    height: 114px;
    display: flex;
    justify-content: space-between;
}

.logo-bas {
    display: flex;
    align-items: center;
    margin-right: 24px;
}
.logo-footer {
    height: 65px;
    width: 65px;
}

.liste ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}


@media (max-width: 480px) {
    a{
        font-size: medium;
    }

    }
