@use "sass:map";

@mixin font-config($m) {
  font-size: map.get($m, size);
  font-family: map.get($m, family);
  color: map.get($m, color);
}

@mixin clamp-size($min, $pref, $max){
    font-size: clamp($min, $pref, $max);
}

@mixin focus-ring{
    outline: 3px solid rgba(30, 144, 255, .45);
    outline-offset: 2px;
}