$green: rgba(#335A52);
$card: rgba(#D9A90B, 0.3);
$background-color: rgba(#FEFCF6);
$selector: rgba(#F0FAFE);
$text-color-footer: rgba(#FDF6E6);
$text-color: rgba(#10242C);

$city-banner: (
    size: 32px,
    familly: 'Montserrat' , sans-serif
    color: $text-color );
$day: (
    size: 28px ,
    familly:'Instrument', sans-serif,
    color: $text-color);
$weather: (
    size:24px,
    familly: 'Instrument', sans-serif
    color: $text-color);
$text-footer: (
    size: 20 
    familly:'Instrument', sans-serif
    color: $text-color-footer,);