$green: #335A52;
$card: #D9A90B, 0.3;
$background-color: #FEFCF6;
$selector: #F0FAFE;
$text-color-footer: #FDF6E6;
$text-color: #10242C;

$city-banner: (
    size: 32px,
    family: 'Montserrat', sans-serif,
    color: $text-color 
);

$day: (
    size: 28px,
    family: 'Instrument', sans-serif,
    color: $text-color
);
    
$weather: (
    size: 24px,
    family: 'Instrument', sans-serif,
    color: $text-color
);

$text-footer: (
    size: 20px,
    family: 'Instrument', sans-serif,
    color: $text-color-footer
);